@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../home/background-home-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.alternateBg {
  background-image: url('../home/background-destination-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  width: 450px;
  height: 1px;
  background: rgba(255, 255, 255, .2);
  z-index: 1;
  margin-left: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.rover-select {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}

.rover-highlight {
  cursor: pointer;
}

.rover-highlight:hover {
  border-bottom: 4px solid rgba(255, 255, 255, .2);
  margin-bottom: -4px;
}

#menu {
  z-index: 1;
}

.hamburger {
  cursor: pointer;
  width: 42px;
  height: 42px;
  transition: all 0.1s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  background: white;
  transform: rotate(0);
  transition: all 0.2s;
}

.hamburger-middle {
  transform: translateY(12px);
}

.hamburger-bottom {
  transform: translateY(24px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#menu a {
  cursor: pointer;
}

.circle:hover {
  outline-style: solid;
  outline-width: 60px;
  outline-color: rgba(255, 255, 255, .1);
}

.frostedGlass {
  display: none;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(14px);
 }

 .mobileGlass {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(16px);
}




@media(min-width: 768px) {
  .frostedGlass {
    display: block;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(14px);
   }
}

@media(max-width: 768px) {
  body {
    background-image: url('../home/background-home-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .alternateBg {
    background-image: url('../home/background-destination-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media(min-width: 445px) {
  .explore {
    margin-top: 102px;
  }
}

@media(max-width: 480px) {
  body {
    background-image: url('../home/background-home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .alternateBg {
    background-image: url('../home/background-destination-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media(max-width: 401px) {
  .subtext {
    font-size: 1rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media(max-width: 303px) {
  .explore {
    margin-top: 42px;
  }
}